.main {
  background-color: #111118;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
}

.main-wrapper {
  width: 1110px;
  height: 100%;

  display: flex;
  flex-direction: column;
  /* gap: 90px; */
  gap: 40px;
}
